<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Connect with your email</h2>
    <form [formGroup]="passwordLessForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="emailSent">
        Connect
      </button>
      <div *ngIf="emailSent">
        <p class="text-success">we sent you an email</p>
      </div>
    </form>

    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
